# 02_02: Lists, Tuples, and the Slicing Syntax

In [1]:
import math
import collections

import numpy as np
import pandas as pd
import matplotlib.pyplot as pp

%matplotlib inline

**Lists - defined with []**

In [2]:
nephews = ["Huey", "Dewey", "Louie"]

In [3]:
nephews

['Huey', 'Dewey', 'Louie']

**Lists - access via indexing**

In [4]:
len(nephews)

3

In [5]:
nephews[0]

'Huey'

In [6]:
nephews[2]

'Louie'

In [7]:
nephews[3]

IndexError: list index out of range

**Lists - can access via index from the end...**

In [ ]:
nephews[-1], nephews[-2]

('Louie', 'Dewey')

In [ ]:
for i in range(3):
    nephews[i] = nephews[i] + ' Duck'

In [ ]:
nephews

['Huey Duck', 'Dewey Duck', 'Louie Duck']

**Lists - accept multiple datatypes**

In [ ]:
mix_it_up = [1, [2,3], 'alpha']

In [ ]:
mix_it_up

[1, [2, 3], 'alpha']

**Lists - use .append to add further data**

In [ ]:
nephews.append('April Duck')

In [ ]:
nephews

['Huey Duck', 'Dewey Duck', 'Louie Duck', 'April Duck']

**Lists - use .extend to add another List**

In [ ]:
nephews.extend(['May Duck','June Duck'])

In [ ]:
nephews

['Huey Duck',
 'Dewey Duck',
 'Louie Duck',
 'April Duck',
 'May Duck',
 'June Duck',
 'May Duck',
 'June Duck']

**Lists - use + to cocatenate**

In [ ]:
ducks = nephews + ['Donald Duck','Daisy Duck']

In [ ]:
ducks

['Huey Duck',
 'Dewey Duck',
 'Louie Duck',
 'April Duck',
 'May Duck',
 'June Duck',
 'May Duck',
 'June Duck',
 'Donald Duck',
 'Daisy Duck']

In [ ]:
ducks.insert(0, 'Scrooge McDuck')

In [ ]:
ducks

['Scrooge McDuck',
 'Huey Duck',
 'Dewey Duck',
 'Louie Duck',
 'April Duck',
 'May Duck',
 'June Duck',
 'May Duck',
 'June Duck',
 'Donald Duck',
 'Daisy Duck']

In [ ]:
del ducks[0]

In [ ]:
ducks

['Huey Duck',
 'Dewey Duck',
 'Louie Duck',
 'April Duck',
 'May Duck',
 'June Duck',
 'May Duck',
 'June Duck',
 'Donald Duck',
 'Daisy Duck']

In [ ]:
ducks.remove('Donald Duck')

In [ ]:
ducks

['Huey Duck',
 'Dewey Duck',
 'Louie Duck',
 'April Duck',
 'May Duck',
 'June Duck',
 'May Duck',
 'June Duck',
 'Daisy Duck']

**Lists - various useful methods, such as .sort and sorted()**

In [ ]:
ducks.sort()

In [ ]:
ducks

['April Duck',
 'Daisy Duck',
 'Dewey Duck',
 'Huey Duck',
 'June Duck',
 'June Duck',
 'Louie Duck',
 'May Duck',
 'May Duck']

In [ ]:
reverse_ducks = sorted(ducks, reverse=True)

In [ ]:
reverse_ducks

['May Duck',
 'May Duck',
 'Louie Duck',
 'June Duck',
 'June Duck',
 'Huey Duck',
 'Dewey Duck',
 'Daisy Duck',
 'April Duck']

In [ ]:
squares = [1,4,9,16,25,36,49]

**Lists - Slicing is helpful** Just : means all. Omit start to assume from 0, increment (last of tripe input), and add with a slice

In [ ]:
squares[0:2]

[1, 4]

In [ ]:
squares[:4]

[1, 4, 9, 16]

In [ ]:
squares[3:]

[16, 25, 36, 49]

In [ ]:
squares[:]

[1, 4, 9, 16, 25, 36, 49]

In [ ]:
squares[0:7:2]

[1, 9, 25, 49]

In [ ]:
squares[-3:-1]

[25, 36]

In [ ]:
squares[2:4] = ['four', 'nine']

In [ ]:
squares

[1, 4, 'four', 'nine', 25, 36, 49]

In [ ]:
del squares[4:6]

In [ ]:
squares

[1, 4, 'four', 'nine', 49]

In [ ]:
len([])

0

**Tuples - Declare with () - round brackets. These are IMMUTABLE Lists, essentially**

In [ ]:
integers = ('one', 'two', 'three', 'four')

In [ ]:
integers

('one', 'two', 'three', 'four')

In [ ]:
integers[-1], integers[1:3]

('four', ('two', 'three'))

**Tuples - IMMUTABLE Lists:**

In [ ]:
integers[0] = 1

TypeError: 'tuple' object does not support item assignment

In [8]:
(a, b) = (1, 2)

In [9]:
c, d = 3, 4

**enumerate is a useful ITERATOR when inspecting**

In [ ]:
for i, duck in enumerate(ducks):
    print(i, duck)

0 April Duck
1 Daisy Duck
2 Dewey Duck
3 Huey Duck
4 June Duck
5 June Duck
6 Louie Duck
7 May Duck
8 May Duck

**Functions - define as here**

In [ ]:
def three_args(a, b, c):
    print(a, b, c)

In [ ]:
my_args = (1,2,3)

**Functions can accept Tuples as arguments - USE a STAR prefix before the arg to upack the Tuple**

**Tuple UNPACKING (see here with *) is pretty useful and pythonic**

In [ ]:
three_args(*my_args)

1 2 3